<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="description" content="Find Your Band"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Favicon -->
	<link rel="shortcut icon" href=@routes.Assets.at("img/favicon.png") type="image/png">

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>

	<!-- jQuery -->
	<script src=@routes.Assets.at("javascripts/jquery.js")></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src=@routes.Assets.at("javascripts/bootstrap.min.js")></script>

	<!-- Custom CSS -->
	<link href=@routes.Assets.at("stylesheets/business-casual.css") rel="stylesheet">

	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<title>Home- Music's Brothers</title>
	<style>
		#bg_container{ height: 1000px; overflow: hidden;}
		#bg{width: 100%; height: 800px; l}
		#content{ position:absolute; top: 0px;}
	</style>
<body>
	<div class="brand" >Music's Brothers</div>
	<div class="address-bar">Anúncios | Bandas | Musicos</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
			<a class="navbar-brand" href="index.html">Business Casual</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href=@routes.Application.index()>Home</a>
				</li>
				<li>
					<a href=@routes.Application.sobre()>Sobre</a>
				</li>
				<li>
					<a href=@routes.Application.anuncios()>Anúncios</a>
				</li>
				<li>
					<a href=@routes.Application.publique()>Publique seu anúncio</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div class="container">

	<div class="row">
		<div class="box">
			<div class="col-lg-12 text-center">
				<div id="carousel-example-generic" class="carousel slide">
					<!-- Indicators -->
					<ol class="carousel-indicators hidden-xs">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<iframe id="bg" src="https://www.youtube.com/embed/NtDG-Cnj-pw?autoplay=1&amp;controls=0&amp
							;loop=1&amp;showinfo=0&amp;modestbranding=1&amp;disablekb=1&amp;enablejsapi=1&amp;playlist=0
							&amp;rel=0&amp;start=1633&amp;end=1735&amp;iv_load_policy=3" ></iframe>
						</div>
					</div>
					<h2 class="brand-before">
						<small>Bem vindo ao</small>
					</h2>
					<h1 class="brand-name">Music's Brothers</h1>
					<hr class="tagline-divider">
					<h2>
						<small>By
							<strong>Diogo Florêncio</strong>
						</small>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>Copyright &copy; Your Website 2015</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Script to Activate the Carousel -->
	<script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
        </script>
</body>
</html>
